[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
build = "build"
test = "pytest test1.py"
test-cov = "py.test -v --cov-report=html --cov-branch --cov=src test1.py"
exec = "python src/arg_jp.py aaa 'iii uuu'"

[dev-packages]
pytest = "*"
moto = "*"
pytest-mock = "*"
boto3 = "*"
pytest-cov = "*"

[packages]
requests = "*"
elasticsearch = "*"

[requires]
python_version = "3.8"
